---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Jesse
        Schedeen","title":"The Flash: \"Attack on Central City\" Review - IGN","description":"It
        was all hands on deck this week as Gorilla Grodd and his army of apes invaded
        Central City.","url":"http://www.ign.com/articles/2017/03/01/the-flash-attack-on-central-city-review?abthid=58b6429864376e0616000025","urlToImage":"http://assets1.ignimgs.com/2017/02/28/theflash-1280-11-1488323225415_1280w.jpg","publishedAt":"2017-03-01T03:40:40Z"},{"author":null,"title":"Alien:
        Covenant - Trailer #2 - IGN Video","description":"The latest Alien: Covenant
        trailer has landed, and offers a glimpse of the film''s deadly creatures.","url":"http://www.ign.com/videos/2017/03/01/alien-covenant-trailer-2","urlToImage":"http://assets1.ignimgs.com/thumbs/userUploaded/2017/3/1/alienthumb-1488339176311_1280w.jpg","publishedAt":"2017-03-01T03:14:00Z"},{"author":"Alex
        Gilyadov","title":"Dunkirk: Christopher[...]
