---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":null,"title":"Things
        to Do First - Horizon: Zero Dawn Wiki Guide - IGN","description":"Things to
        Do First - Horizon: Zero Dawn: This page contains tips, tricks, strategies
        and suggestions for players just beginning their adventure through Horizon:
        Zero Dawn. KNOW SOMETHING WE...","url":"http://www.ign.com/wikis/horizon-zero-dawn/Things_to_Do_First","urlToImage":"http://oystatic.ignimgs.com/src/core/img/widgets/global/page/ign-logo-100x100.jpg","publishedAt":null},{"author":"Joshua
        Yehl","title":"New Creative Team Pits Old Man Logan Against Hulks of the Future
        - IGN","description":"New details of Old Man Logan''s next quest have been
        revealed -- and it''s looking pretty green!","url":"http://www.ign.com/articles/2017/03/01/new-creative-team-pits-old-man-logan-against-hulks-of-the-future","urlToImage":"http://assets1.ignimgs.com/2017/03/01/old-man-logan-25-235345-br-1488330254707_1280w.jpg","publishedAt":"2017-03-01T01:07:16Z"[...]
