---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Alex
        Osborn","title":"Xbox Boss Hints at Scorpio Event Ahead of E3 - IGN","description":"Head
        of Xbox Phil Spencer wants Microsoft''s E3 showing to be more about the games
        rather than the hardware itself.","url":"http://www.ign.com/articles/2017/03/02/xbox-boss-hints-at-scorpio-event-ahead-of-e3?abthid=58b787239e4a918b1f000020","urlToImage":"http://assets2.ignimgs.com/2016/09/21/snaps-project-scorpio-about-e3-2016-on-ignarjpg-c1f4db765wjpg-f9a4c2_1280w.jpg","publishedAt":"2017-03-02T02:41:37Z"},{"author":"Jesse
        Schedeen","title":"Arrow: \"Fighting Fire With Fire\" Review - IGN","description":"Let
        us know what you thought of this week''s episode, as Team Arrow declared war
        on Vigilante.","url":"http://www.ign.com/articles/2017/03/02/arrow-fighting-fire-with-fire-review","urlToImage":"http://assets1.ignimgs.com/2017/03/02/arrow-1280-14-1488414556594_1280w.jpg","publishedAt":"2017-03-02T02:00:45Z"},{"author":"Terri
        Schwartz","title":[...]
