---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Adam
        Sligar","title":"Apply to IGN''s 2017 Code-Foo Internship Program! - IGN","description":"Are
        you studying to be a software engineer? You can sign up for a paid, six-week
        internship at IGN in San Francisco.","url":"http://www.ign.com/articles/2017/02/17/apply-to-igns-2017-code-foo-internship-program?abthid=58ae2998346821d068000015","urlToImage":"http://assets1.ignimgs.com/2017/02/17/code-foo-blogroll-1487359419479_1280w.jpg","publishedAt":"2017-02-18T01:00:07Z"},{"author":null,"title":"The
        First 21 Minutes of Snipperclips Gameplay - IGN Video","description":"Check
        out the first few levels of Nintendo Switch''s adorable multiplayer puzzle
        game.","url":"http://www.ign.com/videos/2017/03/02/the-first-21-minutes-of-snipperclips-gameplay","urlToImage":"http://assets1.ignimgs.com/thumbs/userUploaded/2017/3/2/snipperclips-14843323319611280w-1488472882385_1280w.jpg","publishedAt":"2017-03-02T16:57:00Z"},{"author":[...]
