---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Jesse
        Schedeen","title":"Ego the Living Planet Explained: Who Is the Guardians of
        the Galaxy Vol. 2 Character? - IGN","description":"We break down the origin
        and background of Kurt Russell''s Ego the Living Planet, the strangest addition
        to Marvel''s Guardians Vol. 2.","url":"http://www.ign.com/articles/2017/03/01/ego-the-living-planet-explained-who-is-the-guardians-of-the-galaxy-vol-2-character?abthid=58b713846c2627891f000004","urlToImage":"http://assets1.ignimgs.com/2017/03/01/ego-1280-1488392931436_1280w.jpg","publishedAt":"2017-03-01T18:31:31Z"},{"author":"Dan
        Stapleton","title":"Robo Recall Review - IGN","description":"This Oculus Touch
        shooter really makes a case for the hardware.","url":"http://www.ign.com/articles/2017/03/01/robo-recall-review","urlToImage":"http://assets1.ignimgs.com/2017/03/01/roborecall-1280-1488351996761_1280w.jpg","publishedAt":"2017-03-01T18:30:31Z"},{"author":"Jesse
        Schedeen","title":"Batman #18 Review - IGN","description":"The fists fly in
        the latest ch[...]
