---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=8e104a7dd2be4f42a6330ca513c5c64e&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Alex
        Osborn","title":"Black Lightning: Cress Williams Cast as the DC Superhero
        in Berlanti/CW Series - IGN","description":"Hart of Dixie star Cress Williams
        has been cast in the title role for Greg Berlanti''s upcoming DC drama.","url":"http://www.ign.com/articles/2017/02/24/black-lightning-cress-williams-cast-as-the-dc-superhero-in-berlanticw-series?abthid=58b09a40c6288d1776000019","urlToImage":"http://assets2.ignimgs.com/2016/09/01/blacklightningjpg-42cbd3_1280w.jpg","publishedAt":"2017-02-24T20:40:32Z"},{"author":null,"title":"Nintendo
        Switch Compared to Everything (Sort of) - IGN Video","description":"This is
        what the Nintendo Switch looks next to a bunch of other gaming consoles and
        controllers.","url":"http://www.ign.com/videos/2017/02/24/nintendo-switch-compared-to-everything-sort-of","urlToImage":"http://assets1.ignimgs.com/thumbs/userUploaded/2017/2/23/switch1-1487897290742_1280w.jpg","publishedAt":"2017-02-24T20:30:00Z"},{"author":null,"tit[...]
