---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=<articles_key>&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":null,"title":"4K:
        Running Across Horizon Zero Dawn''s Entire Map - IGN Video","description":"Horizon
        Zero Dawn features a huge map with beautiful sights, so we decided to run
        across the entire thing.","url":"http://www.ign.com/videos/2017/03/01/4k-running-across-horizon-zero-dawns-entire-map","urlToImage":"http://assets1.ignimgs.com/thumbs/userUploaded/2017/3/1/horizon-zero-dawn20170213140629-1488394792042_1280w.jpg","publishedAt":"2017-03-01T19:14:00Z"},{"author":"Jordan
        Sirani","title":"Chris Hardwick Continues Talk Show Takeover with New AMC
        Interview Series - IGN","description":"Hardwick describes the new show as
        a blend of Talking Dead, his podcast, and a Comic Con panel.","url":"http://www.ign.com/articles/2017/03/01/chris-hardwick-continues-talk-show-takeover-with-new-amc-interview-series?abthid=58b71a6d9e4a918b1f00000a","urlToImage":"http://assets2.ignimgs.com/2014/08/12/tt32794942jpg-8de08[...]
