---
http_interactions:
- request:
    method: get
    uri: https://newsapi.org/v1/articles?apiKey=8e104a7dd2be4f42a6330ca513c5c64e&sortBy=top&source=ign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","source":"ign","sortBy":"top","articles":[{"author":"Blair
        Marnell","title":"9 Things We Want to See in John Wick: Chapter 3 - IGN","description":"If
        Keanu Reeves'' assassin gets another movie, we know what needs to happen in
        order to continue the series'' excellence.","url":"http://www.ign.com/articles/2017/02/21/9-things-we-want-to-see-in-john-wick-chapter-3","urlToImage":"http://assets2.ignimgs.com/2016/10/08/john-wick-2-posterjpg-fe1944_1280w.jpg","publishedAt":"2017-02-21T15:43:11Z"},{"author":null,"title":"Every
        Injustice 2 Character Revealed So Far - February 2017 - IGN Video","description":"Black
        Canary, Swamp Thing, Cheetah, and more. Here''s every Injustice 2 character
        revealed so far.","url":"http://www.ign.com/videos/2017/02/25/every-injustice-2-character-revealed-so-far-february-2017","urlToImage":"http://assets1.ignimgs.com/thumbs/userUploaded/2017/2/24/36190303injustice2allreleases1280-1487979110105_1280w.jpg","publis[...]
