---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"mmndCc3YVW5Vu\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/mew-mmndCc3YVW5Vu\",\"image_original_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/giphy.gif\",\"image_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media4.giphy.com\\/media\\/mmndCc3YVW5Vu\\/giphy.mp4\",\"image_frames\":\"8\",\"image_width\":\"250\",\"image_height\":\"175\",\"fixed_height_downsampled_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/200_d.gif\",\"fixed_height_downsampled_width\":\"286\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"140\",\"fixed_height_small_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/100_s.gif\",\"fixed_height_small_width\":\"143\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media0.giphy.com\\/media\\/mmndCc3YVW5Vu\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"70\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b718864f6d8c77e7f945cf\"}}"
  recorded_at: Wed, 01 Mar 2017 18:52:54 GMT
recorded_with: VCR 3.0.3
