---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"l2Sq4SngWJi1c8Gkw\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/southparkgifs-l2Sq4SngWJi1c8Gkw\",\"image_original_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/giphy.gif\",\"image_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/giphy.gif\",\"image_mp4_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/giphy.mp4\",\"image_frames\":\"37\",\"image_width\":\"384\",\"image_height\":\"270\",\"fixed_height_downsampled_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/200_d.gif\",\"fixed_height_downsampled_width\":\"284\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"141\",\"fixed_height_small_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/100.gif\",\"fixed_height_small_still_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/100_s.gif\",\"fixed_height_small_width\":\"142\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/100w.gif\",\"fixed_width_small_still_url\":\"https:\\/\\/media2.giphy.com\\/media\\/l2Sq4SngWJi1c8Gkw\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"70\",\"username\":\"southpark\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b5e9f8a5064f4749163bb8\"}}"
  recorded_at: Tue, 28 Feb 2017 21:22:00 GMT
recorded_with: VCR 3.0.3
