---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"Ld5wgwYDoFxK0\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/Ld5wgwYDoFxK0\",\"image_original_url\":\"\",\"image_url\":\"\",\"image_mp4_url\":\"\",\"image_frames\":\"0\",\"image_width\":\"0\",\"image_height\":\"0\",\"fixed_height_downsampled_url\":\"\",\"fixed_height_downsampled_width\":\"0\",\"fixed_height_downsampled_height\":\"0\",\"fixed_width_downsampled_url\":\"\",\"fixed_width_downsampled_width\":\"0\",\"fixed_width_downsampled_height\":\"0\",\"fixed_height_small_url\":\"\",\"fixed_height_small_still_url\":\"\",\"fixed_height_small_width\":\"0\",\"fixed_height_small_height\":\"0\",\"fixed_width_small_url\":\"\",\"fixed_width_small_still_url\":\"\",\"fixed_width_small_width\":\"0\",\"fixed_width_small_height\":\"0\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b2216b86a49752692378da\"}}"
  recorded_at: Sun, 26 Feb 2017 00:29:32 GMT
recorded_with: VCR 3.0.3
