---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"xT5LMHHhvuCyCFwVnW\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/season-14-the-simpsons-14x1-xT5LMHHhvuCyCFwVnW\",\"image_original_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/giphy.gif\",\"image_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/giphy.mp4\",\"image_frames\":\"21\",\"image_width\":\"480\",\"image_height\":\"360\",\"fixed_height_downsampled_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/200_d.gif\",\"fixed_height_downsampled_width\":\"267\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"150\",\"fixed_height_small_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/100_s.gif\",\"fixed_height_small_width\":\"133\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media0.giphy.com\\/media\\/xT5LMHHhvuCyCFwVnW\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"75\",\"username\":\"thesimpsons\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b1d7249aab7b8fbf5b88c9\"}}"
  recorded_at: Sat, 25 Feb 2017 19:12:36 GMT
recorded_with: VCR 3.0.3
