---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"3o7TKKZ5Akgl2vKQMg\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/golf-stickman-ssg-3o7TKKZ5Akgl2vKQMg\",\"image_original_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/giphy.gif\",\"image_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media4.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/giphy.mp4\",\"image_frames\":\"123\",\"image_width\":\"480\",\"image_height\":\"270\",\"fixed_height_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/200_d.gif\",\"fixed_height_downsampled_width\":\"356\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"112\",\"fixed_height_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/100_s.gif\",\"fixed_height_small_width\":\"178\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/3o7TKKZ5Akgl2vKQMg\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"56\",\"username\":\"noodlecake\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b1ea8ee66e15d082f97fc2\"}}"
  recorded_at: Sat, 25 Feb 2017 20:35:26 GMT
recorded_with: VCR 3.0.3
