---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"et3KnI24qW8Bq\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/becky-g-gifs-gif-hunt-et3KnI24qW8Bq\",\"image_original_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/giphy.gif\",\"image_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/giphy.mp4\",\"image_frames\":\"32\",\"image_width\":\"160\",\"image_height\":\"160\",\"fixed_height_downsampled_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/200_d.gif\",\"fixed_height_downsampled_width\":\"200\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"200\",\"fixed_height_small_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/100_s.gif\",\"fixed_height_small_width\":\"100\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media2.giphy.com\\/media\\/et3KnI24qW8Bq\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"100\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b22ad21edcc1796a4eda4d\"}}"
  recorded_at: Sun, 26 Feb 2017 01:09:38 GMT
recorded_with: VCR 3.0.3
