---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/trending?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - giphy_api_trending
      X-Cachiness-Edge-Timeout:
      - '600.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":[{\"type\":\"gif\",\"id\":\"l0ExqtZUpC2LwmpzO\",\"slug\":\"studiosoriginals-l0ExqtZUpC2LwmpzO\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/studiosoriginals-l0ExqtZUpC2LwmpzO\",\"bitly_gif_url\":\"http:\\/\\/gph.is\\/2l66UCC\",\"bitly_url\":\"http:\\/\\/gph.is\\/2l66UCC\",\"embed_url\":\"http:\\/\\/giphy.com\\/embed\\/l0ExqtZUpC2LwmpzO\",\"username\":\"studiosoriginals\",\"source\":\"\",\"rating\":\"g\",\"content_url\":\"\",\"user\":{\"avatar_url\":\"https:\\/\\/media0.giphy.com\\/avatars\\/studiosoriginals\\/j3JBzK5twdv8.jpg\",\"banner_url\":\"https:\\/\\/media0.giphy.com\\/headers\\/studiosoriginals\\/fHmcHCHkISg3.gif\",\"profile_url\":\"https:\\/\\/giphy.com\\/studiosoriginals\\/\",\"username\":\"studiosoriginals\",\"display_name\":\"GIPHY
        Studios Originals\"},\"source_tld\":\"\",\"source_post_url\":\"\",\"is_indexable\":0,\"import_datetime\":\"2017-02-03
        19:59:00\",\"trending_datetime\":\"2017-02-25 16:15:01\",\"images\":{\"fixed_height\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200.gif\",\"width\":\"356\",\"height\":\"200\",\"size\":\"157418\",\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200.mp4\",\"mp4_size\":\"53532\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200.webp\",\"webp_size\":\"145858\"},\"fixed_height_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200_s.gif\",\"width\":\"356\",\"height\":\"200\",\"size\":\"13510\"},\"fixed_height_downsampled\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200_d.gif\",\"width\":\"356\",\"height\":\"200\",\"size\":\"37833\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200_d.webp\",\"webp_size\":\"30784\"},\"fixed_width\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w.gif\",\"width\":\"200\",\"height\":\"113\",\"size\":\"57387\",\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w.mp4\",\"mp4_size\":\"22360\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w.webp\",\"webp_size\":\"65556\"},\"fixed_width_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w_s.gif\",\"width\":\"200\",\"height\":\"113\",\"size\":\"5635\"},\"fixed_width_downsampled\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w_d.gif\",\"width\":\"200\",\"height\":\"113\",\"size\":\"14493\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/200w_d.webp\",\"webp_size\":\"13628\"},\"fixed_height_small\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100.gif\",\"width\":\"178\",\"height\":\"100\",\"size\":\"47659\",\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100.mp4\",\"mp4_size\":\"18236\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100.webp\",\"webp_size\":\"55324\"},\"fixed_height_small_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100_s.gif\",\"width\":\"178\",\"height\":\"100\",\"size\":\"4890\"},\"fixed_width_small\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100w.gif\",\"width\":\"100\",\"height\":\"57\",\"size\":\"19029\",\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100w.mp4\",\"mp4_size\":\"7954\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100w.webp\",\"webp_size\":\"26204\"},\"fixed_width_small_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/100w_s.gif\",\"width\":\"100\",\"height\":\"57\",\"size\":\"2861\"},\"downsized\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-downsized.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"357640\"},\"downsized_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-downsized_s.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"22489\"},\"downsized_large\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"357640\"},\"downsized_medium\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"357640\"},\"original\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"357640\",\"frames\":\"31\",\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.mp4\",\"mp4_size\":\"102607\",\"webp\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.webp\",\"webp_size\":\"261888\",\"hash\":\"a3ad79f0717903cbfcd160e266651f58\"},\"original_still\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy_s.gif\",\"width\":\"480\",\"height\":\"270\",\"size\":\"22489\"},\"looping\":{\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-loop.mp4\",\"mp4_size\":\"468066\"},\"original_mp4\":{\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy.mp4\",\"mp4_size\":\"102607\",\"width\":\"480\",\"height\":\"270\"},\"preview\":{\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-preview.mp4\",\"mp4_size\":\"31997\",\"width\":\"384\",\"height\":\"216\"},\"downsized_small\":{\"mp4\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-downsized-small.mp4\",\"mp4_size\":\"96250\"},\"preview_gif\":{\"url\":\"http:\\/\\/media2.giphy.com\\/media\\/l0ExqtZUpC2LwmpzO\\/giphy-preview.gif\",\"width\":\"312\",\"height\":\"175\",\"size\":\"48078\"}}},{\"type\":\"gif\",\"id\":\"l0MYSCYtvpbUqmG8U\",\"slug\":\"seeso-parks-and-recreation-mad-rec-l0MYSCYtvpbUqmG8U\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/seeso-parks-and-recreation-mad-rec-l0MYSCYtvpbUqmG8U\",\"bitly_gif_url\":\"http:\\/\\/gph.is\\/2cpZIOj\",\"bitly_url\":\"http:\\/\\/gph.is\\/2cpZIOj\",\"embed_url\":\"http:\\/\\/giphy.com\\/embed\\/l[...]
