---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"qaA3Zmg0saVzO\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/outer-space-qaA3Zmg0saVzO\",\"image_original_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/giphy.gif\",\"image_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media0.giphy.com\\/media\\/qaA3Zmg0saVzO\\/giphy.mp4\",\"image_frames\":\"16\",\"image_width\":\"463\",\"image_height\":\"360\",\"fixed_height_downsampled_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/200_d.gif\",\"fixed_height_downsampled_width\":\"257\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"156\",\"fixed_height_small_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/100_s.gif\",\"fixed_height_small_width\":\"129\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media4.giphy.com\\/media\\/qaA3Zmg0saVzO\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"78\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b1eead0e2119e9a61868b4\"}}"
  recorded_at: Sat, 25 Feb 2017 20:53:01 GMT
recorded_with: VCR 3.0.3
