---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"JJverPt617LTq\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/JJverPt617LTq\",\"image_original_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/giphy.gif\",\"image_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/giphy.gif\",\"image_mp4_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/giphy.mp4\",\"image_frames\":\"20\",\"image_width\":\"350\",\"image_height\":\"200\",\"fixed_height_downsampled_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/200_d.gif\",\"fixed_height_downsampled_width\":\"350\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"114\",\"fixed_height_small_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/100.gif\",\"fixed_height_small_still_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/100_s.gif\",\"fixed_height_small_width\":\"175\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/100w.gif\",\"fixed_width_small_still_url\":\"https:\\/\\/media2.giphy.com\\/media\\/JJverPt617LTq\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"57\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b8613a8f66313b7dff1448\"}}"
  recorded_at: Thu, 02 Mar 2017 18:15:22 GMT
recorded_with: VCR 3.0.3
