---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"xMqRFEedbVVm0\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/xMqRFEedbVVm0\",\"image_original_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/giphy.gif\",\"image_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/giphy.gif\",\"image_mp4_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/giphy.mp4\",\"image_frames\":\"36\",\"image_width\":\"267\",\"image_height\":\"200\",\"fixed_height_downsampled_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/200_d.gif\",\"fixed_height_downsampled_width\":\"267\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"150\",\"fixed_height_small_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/100.gif\",\"fixed_height_small_still_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/100_s.gif\",\"fixed_height_small_width\":\"134\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/100w.gif\",\"fixed_width_small_still_url\":\"https:\\/\\/media0.giphy.com\\/media\\/xMqRFEedbVVm0\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"75\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b1e5db502d1e2e10b4314e\"}}"
  recorded_at: Sat, 25 Feb 2017 20:15:23 GMT
recorded_with: VCR 3.0.3
