---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"xsv7C5ygxrfzi\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/multifandom-xsv7C5ygxrfzi\",\"image_original_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/giphy.gif\",\"image_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/giphy.mp4\",\"image_frames\":\"98\",\"image_width\":\"245\",\"image_height\":\"140\",\"fixed_height_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/200_d.gif\",\"fixed_height_downsampled_width\":\"350\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"114\",\"fixed_height_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/100_s.gif\",\"fixed_height_small_width\":\"175\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/xsv7C5ygxrfzi\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"57\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b7220fa5b740b85c949665\"}}"
  recorded_at: Wed, 01 Mar 2017 19:33:35 GMT
recorded_with: VCR 3.0.3
