---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rule-Debug:
      - '1'
      X-Cachiness-Rule-Name:
      - fastly_default
      X-Cachiness-Edge-Timeout:
      - '1200.000'
      X-Cachiness-Origin-Respect:
      - respect_origin
    body:
      encoding: ASCII-8BIT
      string: "  \n\n{\"data\":{\"type\":\"gif\",\"id\":\"E7SekbIfxTWh2\",\"url\":\"http:\\/\\/giphy.com\\/gifs\\/wwe-wrestling-E7SekbIfxTWh2\",\"image_original_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/giphy.gif\",\"image_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/giphy.gif\",\"image_mp4_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/giphy.mp4\",\"image_frames\":\"18\",\"image_width\":\"400\",\"image_height\":\"282\",\"fixed_height_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/200_d.gif\",\"fixed_height_downsampled_width\":\"284\",\"fixed_height_downsampled_height\":\"200\",\"fixed_width_downsampled_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/200w_d.gif\",\"fixed_width_downsampled_width\":\"200\",\"fixed_width_downsampled_height\":\"141\",\"fixed_height_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/100.gif\",\"fixed_height_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/100_s.gif\",\"fixed_height_small_width\":\"142\",\"fixed_height_small_height\":\"100\",\"fixed_width_small_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/100w.gif\",\"fixed_width_small_still_url\":\"http:\\/\\/media1.giphy.com\\/media\\/E7SekbIfxTWh2\\/100w_s.gif\",\"fixed_width_small_width\":\"100\",\"fixed_width_small_height\":\"71\",\"username\":\"\",\"caption\":\"\"},\"meta\":{\"status\":200,\"msg\":\"OK\",\"response_id\":\"58b787f758ab73398fb53967\"}}"
  recorded_at: Thu, 02 Mar 2017 02:48:23 GMT
recorded_with: VCR 3.0.3
