---
http_interactions:
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Instead of saying that man is the creature of circumstance,
        it would be nearer the mark to say that man is the architect of circumstance.
        ", "quoteAuthor":"Thomas Carlyle", "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/594321cdaf/"}'
  recorded_at: Thu, 02 Mar 2017 02:48:14 GMT
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Instead of saying that man is the creature of circumstance,
        it would be nearer the mark to say that man is the architect of circumstance.
        ", "quoteAuthor":"Thomas Carlyle", "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/594321cdaf/"}'
  recorded_at: Thu, 02 Mar 2017 02:48:15 GMT
recorded_with: VCR 3.0.3
