---
http_interactions:
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"You\''ve got a lot of choices.  If getting out of bed
        in the morning is a chore and you\''re not smiling on a regular basis, try
        another choice.", "quoteAuthor":"D. Woodhull", "senderName":"", "senderLink":"",
        "quoteLink":"http://forismatic.com/en/ad669485ef/"}'
  recorded_at: Wed, 01 Mar 2017 18:52:47 GMT
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"You\''ve got a lot of choices.  If getting out of bed
        in the morning is a chore and you\''re not smiling on a regular basis, try
        another choice.", "quoteAuthor":"D. Woodhull", "senderName":"", "senderLink":"",
        "quoteLink":"http://forismatic.com/en/ad669485ef/"}'
  recorded_at: Wed, 01 Mar 2017 18:52:47 GMT
recorded_with: VCR 3.0.3
