---
http_interactions:
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Never do things others can do and will do, if there are
        things others cannot do or will not do. ", "quoteAuthor":"Amelia Earhart",
        "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/1158482651/"}'
  recorded_at: Wed, 01 Mar 2017 19:33:28 GMT
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Never do things others can do and will do, if there are
        things others cannot do or will not do. ", "quoteAuthor":"Amelia Earhart",
        "senderName":"", "senderLink":"", "quoteLink":"http://forismatic.com/en/1158482651/"}'
  recorded_at: Wed, 01 Mar 2017 19:33:29 GMT
recorded_with: VCR 3.0.3
