---
http_interactions:
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Happiness is not something ready made. It comes from
        your own actions.", "quoteAuthor":"Dalai Lama", "senderName":"", "senderLink":"",
        "quoteLink":"http://forismatic.com/en/3b14b1440d/"}'
  recorded_at: Thu, 02 Mar 2017 18:15:15 GMT
- request:
    method: get
    uri: http://api.forismatic.com/api/1.0/?format=json&lang=en&method=getQuote
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"quoteText":"Happiness is not something ready made. It comes from
        your own actions.", "quoteAuthor":"Dalai Lama", "senderName":"", "senderLink":"",
        "quoteLink":"http://forismatic.com/en/3b14b1440d/"}'
  recorded_at: Thu, 02 Mar 2017 18:15:15 GMT
recorded_with: VCR 3.0.3
