---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/329865/images?api_key=<movie_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"a9fe03076fd64d460af5e6eacbfc356f"
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '2440'
      X-Memc-Expires:
      - '26360'
      X-Memc-Key:
      - 65794ee4890aaf5fcac87da5fbb6ebcf
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1488055985'
    body:
      encoding: ASCII-8BIT
      string: '{"id":329865,"backdrops":[{"aspect_ratio":1.77777777777778,"file_path":"/yIZ1xendyqKvY3FGeeUYUd5X9Mm.jpg","height":1125,"iso_639_1":null,"vote_average":5.998,"vote_count":21,"width":2000},{"aspect_ratio":1.77777777777778,"file_path":"/x3akjRHhZnIZx0EiQ3eOg66qoS9.jpg","height":2160,"iso_639_1":null,"vote_average":5.522,"vote_count":4,"width":3840},{"aspect_ratio":1.77683013503909,"file_path":"/z3dFr6KAJt07hxWZ7g8h7i4Dp50.jpg","height":1407,"iso_639_1":null,"vote_average":5.45,"vote_count":9,"width":2500},{"aspect_ratio":1.77777777777778,"file_path":"/7hegvgLrvP1LM8IfDFGvXrsndXq.jpg","height":1080,"iso_639_1":"en","vote_average":5.312,"vote_count":1,"width":1920},{"aspect_rat[...]
