---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":-3.39,"pressure":1014,"humidity":33,"temp_min":-6,"temp_max":-1},"visibility":16093,"wind":{"speed":2.6,"deg":260},"clouds":{"all":1},"dt":1488339360,"sys":{"type":1,"id":602,"message":0.0142,"country":"US","sunrise":1488375137,"sunset":1488415953},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Wed, 01 Mar 2017 04:00:02 GMT
recorded_with: VCR 3.0.3
