---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":0.87,"pressure":1011,"humidity":30,"temp_min":-1,"temp_max":3},"visibility":16093,"wind":{"speed":2.6,"deg":130},"clouds":{"all":40},"dt":1488048960,"sys":{"type":1,"id":546,"message":0.007,"country":"US","sunrise":1488029831,"sunset":1488070133},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sat, 25 Feb 2017 19:49:50 GMT
recorded_with: VCR 3.0.3
