---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"base":"stations","main":{"temp":3.15,"pressure":1022,"humidity":24,"temp_min":2,"temp_max":4},"visibility":16093,"wind":{"speed":2.1,"deg":120},"clouds":{"all":40},"dt":1488419760,"sys":{"type":1,"id":546,"message":0.4111,"country":"US","sunrise":1488461453,"sunset":1488502414},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Thu, 02 Mar 2017 02:48:25 GMT
recorded_with: VCR 3.0.3
