---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"base":"stations","main":{"temp":1.01,"pressure":1004,"humidity":74,"temp_min":-2,"temp_max":5},"visibility":4023,"wind":{"speed":3.1},"clouds":{"all":90},"dt":1488316200,"sys":{"type":1,"id":546,"message":0.2265,"country":"US","sunrise":1488288761,"sunset":1488329535},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Tue, 28 Feb 2017 21:22:02 GMT
recorded_with: VCR 3.0.3
