---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":0.17,"pressure":1009,"humidity":51,"temp_min":-1,"temp_max":2},"visibility":16093,"wind":{"speed":4.1,"deg":250,"gust":9.8},"clouds":{"all":1},"dt":1488069360,"sys":{"type":1,"id":602,"message":0.0049,"country":"US","sunrise":1488116212,"sunset":1488156548},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sun, 26 Feb 2017 01:09:40 GMT
recorded_with: VCR 3.0.3
