---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=3db9934855bee68c811d2fd4c0d69434&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":-4.89,"pressure":1013,"humidity":44,"temp_min":-6,"temp_max":-3},"visibility":16093,"wind":{"speed":1.5,"deg":160},"clouds":{"all":1},"dt":1488038160,"sys":{"type":1,"id":546,"message":0.0084,"country":"US","sunrise":1488029843,"sunset":1488070124},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sat, 25 Feb 2017 16:29:28 GMT
recorded_with: VCR 3.0.3
