---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=3db9934855bee68c811d2fd4c0d69434&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"base":"stations","main":{"temp":-4.03,"pressure":1014,"humidity":73,"temp_min":-6,"temp_max":-1},"visibility":16093,"wind":{"speed":2.6,"deg":70},"clouds":{"all":90},"dt":1487968560,"sys":{"type":1,"id":602,"message":0.0385,"country":"US","sunrise":1487943513,"sunset":1487983670},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Fri, 24 Feb 2017 21:08:12 GMT
recorded_with: VCR 3.0.3
