---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":1.14,"pressure":1011,"humidity":22,"temp_min":-1,"temp_max":3},"visibility":16093,"wind":{"speed":3.16,"deg":295.001},"clouds":{"all":1},"dt":1488051360,"sys":{"type":1,"id":602,"message":0.0061,"country":"US","sunrise":1488029830,"sunset":1488070134},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sat, 25 Feb 2017 20:15:25 GMT
recorded_with: VCR 3.0.3
