---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":-3.18,"pressure":1013,"humidity":32,"temp_min":-6,"temp_max":0},"visibility":16093,"wind":{"speed":11.3,"deg":320,"gust":14.9},"clouds":{"all":75},"dt":1488336960,"sys":{"type":1,"id":546,"message":0.0365,"country":"US","sunrise":1488375138,"sunset":1488415952},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Wed, 01 Mar 2017 03:42:37 GMT
recorded_with: VCR 3.0.3
