---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"base":"stations","main":{"temp":5.33,"pressure":1021,"humidity":14,"temp_min":3,"temp_max":6},"visibility":80465,"wind":{"speed":8.2,"deg":250,"gust":13.9},"clouds":{"all":20},"dt":1488394620,"sys":{"type":1,"id":538,"message":0.0048,"country":"US","sunrise":1488375079,"sunset":1488415995},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Wed, 01 Mar 2017 19:33:38 GMT
recorded_with: VCR 3.0.3
