---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"},{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"base":"stations","main":{"temp":-1.77,"pressure":1010,"humidity":92,"temp_min":-3,"temp_max":0},"visibility":14484,"wind":{"speed":2.1,"deg":20},"clouds":{"all":90},"dt":1488329760,"sys":{"type":1,"id":546,"message":0.0079,"country":"US","sunrise":1488375146,"sunset":1488415946},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Wed, 01 Mar 2017 01:35:23 GMT
recorded_with: VCR 3.0.3
