---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":0.44,"pressure":1009,"humidity":51,"temp_min":-1,"temp_max":2},"visibility":16093,"wind":{"speed":7.7,"deg":300,"gust":10.3},"clouds":{"all":75},"dt":1488066960,"sys":{"type":1,"id":546,"message":0.0066,"country":"US","sunrise":1488116214,"sunset":1488156546},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sun, 26 Feb 2017 00:29:34 GMT
recorded_with: VCR 3.0.3
