---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":6.56,"pressure":1028,"humidity":17,"temp_min":5,"temp_max":8},"visibility":16093,"wind":{"speed":1.12,"deg":89.004},"clouds":{"all":1},"dt":1488476160,"sys":{"type":1,"id":602,"message":0.3714,"country":"US","sunrise":1488461394,"sunset":1488502456},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Thu, 02 Mar 2017 18:15:24 GMT
recorded_with: VCR 3.0.3
