---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<weather_key>&q=Denver&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-104.98,"lat":39.74},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":1.86,"pressure":1010,"humidity":31,"temp_min":0,"temp_max":3},"visibility":16093,"wind":{"speed":3.6,"deg":350},"clouds":{"all":40},"dt":1488052560,"sys":{"type":1,"id":546,"message":0.0083,"country":"US","sunrise":1488029827,"sunset":1488070136},"id":5419384,"name":"Denver","cod":200}'
  recorded_at: Sat, 25 Feb 2017 20:53:06 GMT
recorded_with: VCR 3.0.3
