<h1 class='welcome'>Welcome to Nerd Bay, <%= current_user.name %></h1><div class='container'>
  <button id='fetch-weather' name="button-fetch" class="btn btn-info btn-lg pull-right">Give me the news!</button>  
</div>
<div id='weather' class='hide-container'>
</div>

<section class='quote-of-day'>
    <h2>"<%= @presenter.quote.quote %>"</h2>
    <p><%= @presenter.quote.author %></p>
</section>






