<div class="footer">
   <div class="btn-group btn-group" role="group" aria-label="...">
    <button id='fetch-reddit' name="button-fetch" class="btn btn-danger pull-right">Reddit Threads</button>
    <button id='fetch-espn' name="button-fetch" class="btn btn-danger pull-right">ESPN Articles</button>
    <button id='fetch-hackers' name="button-fetch" class="btn btn-danger pull-right">Hacker News Articles</button>
    <button id='fetch-ign' name="button-fetch" class="btn btn-danger pull-right">IGN Articles</button>
    <button id='fetch-movies' name="button-fetch" class="btn btn-danger pull-right">View Movies</button>
    <button id='fetch-twitches' name="button-fetch" class="btn btn-danger pull-right">View Streamers</button> 
    <button id='fetch-top' name="button-fetch" class="btn btn-danger pull-right">Top Streamer</button>
  </div>
</div>