<ul class='horizontal'>
  <li><a class='active' href="/">Home</a></li>
  <% if current_user %>
    <li><%= link_to 'Logout', logout_path, method: :DELETE %></li>
  <% else %>
    <li><a href="#">Sign Up</a></li>
    <li><a href="#">Login</a></li>
  <% end %>
  <li class='rightli' style="float:right"><a href="#">About</a></li>
</ul>