<div class='container home-page'>
  <div class=col-md-6>
    <h2>Welcome to Nerd Bay, User</h2>
    <p>Welcome to Nerd Bay! This website serves the purpose of providing all the information any and all geeky fellows might like to see on an average day spent internet-ing. It serves as the ultimate home page for nerds everywhere. Forget Google! Head up into your web browsers settings and make Nerd Bay your go to website! Every monring you wake up, whip open your computer and drool at the plethora of information present. </p>
    <p>Remember, my friends, Nerd Bay, whilst quite possibly the coolest thing you know of on the internet, IS a work in progress! A lot goes in to pulling information from third parties to your website. I fully intend to keep adding content to my hearts content. Unfortunately, I am not all that creative. If you can think of information you just could NOT live without every morning you get up, simply contact me <a href="https://www.github.com/Dpalazzari/nerd_bay">here</a>.</p>
    <p>You're probably wondering where all that sweet information is, right? Well presenting all that information on one page sure as **** slows things down a bunch, so I implemented super sexy buttons! You have the power to make information reveal itself and go in to hiding! Feel the power, fellow Nerds. Just select which ever piece of information you want from the drop down menu, and scroll on down to that juicy  news.</p>
  </div>
    <%= image_tag('nerd_bay.png', class:'nerd-bay')  %>
</div>

<div class="container">
  
  <div class="btn-group btn-group-xs" role="group" aria-label="...">
    <button id='fetch-reddit' name="button-fetch" class="btn btn-danger pull-right">Reddit Threads</button>
    <button id='fetch-espn' name="button-fetch" class="btn btn-danger pull-right">ESPN Articles</button>
    <button id='fetch-hackers' name="button-fetch" class="btn btn-danger pull-right">Hacker News Articles</button>
    <button id='fetch-ign' name="button-fetch" class="btn btn-danger pull-right">IGN Articles</button>
    <button id='fetch-movies' name="button-fetch" class="btn btn-danger pull-right">View Movies</button>
    <button id='fetch-twitches' name="button-fetch" class="btn btn-danger pull-right">View Streamers</button> 
    <button id='fetch-top' name="button-fetch" class="btn btn-danger pull-right">Top Streamer</button>
  </div>
</div>

<div id='top-twitch' class='container hide-container'>
</div>
<div id='twitch' class='container hide-container'>
</div>
<div id='movies' class='container hide-container'>
</div>
<div id='ign' class='container hide-container'>
</div>
<div id='hackers' class='container hide-container'>
</div>
<div id='espn' class='container hide-container'>
</div>
<div id='reddit' class='container hide-container'>
</div>