<div class='container home-page'>
  <div class=col-md-6>
    <h2>Welcome to Nerd Bay, User</h2>
    <p>Welcome to Nerd Bay! This website serves the purpose of providing all the information any and all geeky fellows might like to see on an average day spent internet-ing. It serves as the ultimate home page for nerds everywhere. Forget Google! Head up into your web browsers settings and make Nerd Bay your go to website! Every monring you wake up, whip open your computer and drool at the plethora of information present. </p>
    <p>Nerd Bay pulls down API information from several open API's on the web. API's that I have tapped into include Twitch, The Movie DB, The News API, a Youtube scraper file, a weather API, and lastly, a API quote provider.</p>
    <p>I plan on adding more content when time permits. I am in the midst of learning other technology stacks, so if there is information you would like to see, please contact me through Github! Welcome to Nerd Bay, and enjoy your stay!</p>
  </div>
    <%= image_tag('nerd_bay.png', class:'nerd-bay')  %>
</div>



<div id='top-twitch' class='container hide-container'>
</div>
<div id='twitch' class='container hide-container'>
</div>
<div id='movies' class='container hide-container'>
</div>
<div id='ign' class='container hide-container'>
</div>
<div id='hackers' class='container hide-container'>
</div>
<div id='espn' class='container hide-container'>
</div>
<div id='reddit' class='container hide-container'>
</div>
<br>
<br>
<br>
  <%= render partial: 'shared/footer' %>