<div class='container'>
  <h1 class='gifs'>Enjoy Some Random Gifs</h1>
  <div class='col-md-4'>
    <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
  </div>
  <div class='col-md-4'>
    <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
  </div>
  <div class='col-md-4'>
    <%= image_tag(@presenter.giphy.url, class:'img-responsive') %>
  </div>
</div>