.articles {
  margin-bottom: 10%;
  background-color: #3B789F;
  h1{
    margin-left: 3%;
  }
  li{
    padding-bottom: 1%;
  }
  a:hover{
    color: #01d277;
    text-decoration: none;
  }
   a:visited{
   color: #01d277;
    text-decoration: none;
  }
  a:active{
    color: #01d277;
    text-decoration: none;
  }
}
.art{
  color: white;
}
.ign {
  display: block;
}
.article-kudos{
  background-color: black;
  color: white;
  width: 17%;
  text-indent: 0;
  a{
    color: #01d277;
  }
}