body {
  background-color: #000538;
  color: white;
  font-family: courier;
  margin: 1% 1% 1% 1%;
}

.nerd-bay{
  height: 50%;
  width: 50%;
}

body p {
  text-indent: 25px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 5%;
  text-align: center;
}