.four-o-four {
  border-left: 20px solid firebrick;
  border-right: 20px solid firebrick;
  border-bottom: 20px solid firebrick;
  border-top: 10px solid firebrick;
}
.does-not-exist{
  border: 10px solid firebrick;
  color: white;
  font-weight: bold;
}